.movie-card {
  background-color: $movie-card-background-color;
  border: 1px solid $border-color;
  border-radius: 2px;
  width: 300px;
  height: 200px;
  @include flexbox();

  @include respond-to(tablets) {
    width: 243px;
    height: 160px;
  }

  @include respond-to(wide-handhelds) {
    width: 200px;
    height: 100px;
  }

  &__poster {
    img {
      height: 200px;
      width: 130px;

      @include respond-to(tablets) {
        width: 100px;
        height: 160px;
      }

      @include respond-to(wide-handhelds) {
        width: 60px;
        height: 100px;
      }
    }
  }

  &__title {
    padding: 0 5px;
    margin-top: 8px;
    @include respond-to(wide-handhelds) {
      margin: 0;
    }

    a {
      text-decoration: none;
      font-size: $movie-card-title-font-size;
      color: $font-color;
      font-style: italic;

      @include respond-to(tablets) {
        font-size: 16px;
      }

      @include respond-to(wide-handhelds) {
        font-size: 10px;
      }
    }
  }

  &__year {
    padding-left: 10px;
    margin-top: 15px;

    @include respond-to(tablets) {
      font-size: 12px;
    }

    @include respond-to(wide-handhelds) {
      font-size: 9px;
    }
  }
}
