.paginator {
  padding: 20px 0;
  min-width: 260px;
  display: flex;
  justify-content: center;

  &_duplicate {
    display: none;

    @include respond-to(handhelds) {
      display: flex;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    font-size: 0;

    li {
      font-size: 14px;
      list-style: none;
      display: inline-block;

      &:first-child a {
        border-radius: 10px 0 0 10px;
        border-left: 1px solid $border-color;
      }

      &:last-child a {
        border-radius: 0 10px 10px 0;
      }

      a {
        display: inline-block;
        text-align: center;
        width: 30px;
        padding: 10px;
        border: 1px solid $border-color;
        border-left: none;
        text-decoration: none;
        color: $font-color;
      }

      .active {
        background-color: $base-color;
        color: $base-contrasting-font-color;
        cursor: default;
      }
    }
  }
}
