$max-width-page: 1280px;
$min-width-page: 320px;

$base-color: #4598de;
$border-color: #055496;
$font-color: #333;
$movie-card-background-color: #cddeec;
$base-contrasting-font-color: #fff;

$movie-card-title-font-size: 18px;
$movie-title-font-size: 26px;
